<a href="https://colab.research.google.com/github/RiteshSingh3628/TextUtil/blob/main/DatascienceWithPython.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [19]:
import numpy as np

arr = np.array([1, 2, 3, 4, 5, 6, 7])
# arange funtion can take one argument or two argument or three argument
arr2 = np.arange(5)
print(arr2)

[0 1 2 3 4]

In [20]:
arr = np.array([1, 2, 3, 4], dtype='S')

print(arr)
print(arr.dtype)

[b'1' b'2' b'3' b'4']
|S1

In [25]:
# it is software library specifically used for data manipulation and analysis
# It provides two data structures like series and dataframes
import pandas as pd
# to get the current version
print(pd.__version__)


# create a series from a list
data = [10,20,25,11,55]
s1 = pd.Series(data)
print(s1)

# giving user index
list1 = ['a','b','c','d','e']
s2 = pd.Series(data,index = list1)
print(s2)

2.2.2
0    10
1    20
2    25
3    11
4    55
dtype: int64
a    10
b    20
c    25
d    11
e    55
dtype: int64

In [30]:
#create a series from random numbers

import numpy as mp
x= np.random.rand(10)
print(x)

[0.15641569 0.33929552 0.91811773 0.50366054 0.19197575 0.103774
 0.82475333 0.25164913 0.65995818 0.26919135]

# create a series from dictionary
employee = {'id':101,'name':'ritesh singh','salary':500000}
s2 = pd.Series(employee)
print(s2)

In [33]:
arr = np.array([1, 2, 3, 4], dtype='S')

print(arr)
print(arr.dtype)

# create a dataframe from a dictionay
employee_detail = {'id':[101,103,104,105],'name':['johan','sachin','sourav','subhransu'],'salary':[10000,10000,2000,3000]}
df1 = pd.DataFrame(employee_detail)
print(df1)

[b'1' b'2' b'3' b'4']
|S1
    id       name  salary
0  101      johan   10000
1  103     sachin   10000
2  104     sourav    2000
3  105  subhransu    3000

In [38]:
#Create a dataframe from file
df = pd.read_csv('healthdata.csv')
df.head(3)

# getting the einformation about the dataset like number of rows and columns
df.shape

# getting all data information
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55500 entries, 0 to 55499
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Name                55500 non-null  object
 1   Age                 55500 non-null  int64
 2   Gender              55500 non-null  object
 3   Blood Type          55500 non-null  object
 4   Medical Condition   55500 non-null  object
 5   Date of Admission   55500 non-null  object
 6   Doctor              55500 non-null  object
 7   Hospital            55500 non-null  object
 8   Insurance Provider  55500 non-null  object
 9   Billing Amount      55500 non-null  float64
 10  Room Number         55500 non-null  int64
 11  Admission Type      55500 non-null  object
 12  Discharge Date      55500 non-null  object
 13  Medication          55500 non-null  object
 14  Test Results        55500 non-null  object
dtypes: float64(1), int64(2), object(12)
memory usage: 6.4+ MB

In [39]:
# checking null values or missing values
df.isnull().sum()#sum() will calculate the total missing values

Name                  0
Age                   0
Gender                0
Blood Type            0
Medical Condition     0
Date of Admission     0
Doctor                0
Hospital              0
Insurance Provider    0
Billing Amount        0
Room Number           0
Admission Type        0
Discharge Date        0
Medication            0
Test Results          0
dtype: int64

In [43]:
# describe gives the statistical iformation about the dat

df.describe().T #T is used for transpose the data

,count,mean,std,min,25%,50%,75%,max
Age,55500.0,51.539459,19.602454,13.00000,35.000000,52.000000,68.000000,89.000000
Billing Amount,55500.0,25539.316097,14211.454431,-2008.49214,13241.224652,25538.069376,37820.508436,52764.276736
Room Number,55500.0,301.134829,115.243069,101.00000,202.000000,302.000000,401.000000,500.000000